@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat:wght@300&display=swap');

.navbar-brand {
  font-family: 'Dancing Script', cursive;
}

.container {
  text-align: center;
  margin: 20px auto;
}

.youtubeImg {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.content-title {
  font-family: 'Montserrat', sans-serif;
}

.form-control {
  margin: 0 auto;
}

.download-link {
  width: 100px;
  height: 40px;
  margin: 20px auto;
}

#github-link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
  background: rgb(238, 243, 237);
  padding: 5px;
  border-radius: 1rem;
}